.display-area {
    flex: 70% 1 1;
    background-color: var(--display-bg);
    min-height: 100vh;
}

.display-content {
    width: 100%;
    height: fit-content;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-content p {
    font-size: 1.25rem;
}

.icon-wrapper {
    width: 5rem;
    height: 5rem;
}

.icon-wrapper svg {
    width: 100%;
    height: 100%;
}