.edit-menu {
    width: fit-content;
    min-width: 120px;
    background-color: var(--display-bg);
    position: absolute;
    z-index: 2;
}

.menu-item {
    padding: .5rem 1rem;
    font-size: 1rem;
}

.menu-item:hover {
    cursor: pointer;
    color: var(--dark);
    background-color: var(--light-color);
}